.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: transparent;
    color: white;
    position: absolute;
    width: 100%;
}
.navbar a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.hero {
    height: 100vh;
    background: url("images/image.png") no-repeat center/cover;
    display: flex;
    align-items: center;
    color: white;
    padding: 50px;
}

.hero button {
    background: red;
    border: none;
    padding: 10px 20px;
    color: white;
}
.services {
    display: flex;
}

.card {
    flex: 1;
    padding: 40px;
    background: #1f2a2e;
    color: white;
    margin: 5px;
}
.features {
    text-align: center;
    padding: 50px;
}

.feature-box {
    display: flex;
    justify-content: space-around;
}